.bloop
.metals
.vscode
.gradle
vendor/ghidra/
vendor/ghidra.zip
vendor/cmake-*
vendor/cmake.tar.gz
vendor/cxx-common.tar.xz
vendor/vcpkg_*
vendor/llvm.sh
.cache
.venv
build
builds/
remill-build/
install/
compile_commands.json
.bsp
