[submodule "vendor/anvill"]
	path = vendor/anvill
	url = https://github.com/lifting-bits/anvill.git
[submodule "vendor/remill"]
	path = vendor/remill
	url = https://github.com/lifting-bits/remill.git
[submodule "vendor/rellic"]
	path = vendor/rellic
	url = https://github.com/lifting-bits/rellic.git
[submodule "vendor/gap"]
	path = vendor/gap
	url = https://github.com/lifting-bits/gap.git
[submodule "patch_assembler/Patcherex2"]
	path = patch_assembler/Patcherex2
	url = https://github.com/trail-of-forks/Patcherex2
[submodule "patch_assembler/keystone"]
	path = patch_assembler/keystone
	url = https://github.com/trail-of-forks/keystone
