.DS_Store
.z3-trace
CMakeUserPresets.json
.bloop
.metals
.vscode
.gradle
vendor/ghidra/
vendor/ghidra.zip
vendor/cmake-*
vendor/cmake.tar.gz
vendor/cxx-common.tar.xz
vendor/vcpkg_*
vendor/llvm.sh
*.dylib
.cache
.venv
build
builds/
remill-build/
install/
compile_commands.json
.bsp
.devcontainer
deps/
venv/
tests/demo/
irene-ghidra/src/test/resources/ghidra_dbs/
